html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
main {
  display: grid;
  height: 100%;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.card-images-div {
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: initial;
  color: white;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 40px;
}
.card-front-side {
  background-image: url("/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 40px;
  height: 200px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
.card-front-side img {
  width: 60px;
}
.card-front-side #left-name {
  text-transform: uppercase;
}

.card-back-side {
  background-image: url("/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 40px;
  height: 210px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: right;
  letter-spacing: 0.1em;
  margin-left: auto;
}
.name-date-div {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
}
.card-number-div {
  font-size: 27px;
  word-spacing: 10px;
  font-stretch: extra-expanded;
  letter-spacing: 2px;
}
/*---form---*/
.card-form-div {
  padding: 140px;
  color: hsl(278, 68%, 11%);
}
input,
select {
  font-family: "Space Grotesk", sans-serif;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid hsl(270, 3%, 87%);
  color: hsl(270, 3%, 87%);
  font-size: 18px;
  margin-bottom: 20px;
}
select {
  margin-right: 10px;
}
.date-and-cvc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.date-div {
  display: grid;
}
.date-div > div {
  display: flex;
}
.cvc-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#confirm,
.continue {
  background-color: hsl(278, 68%, 11%);
  color: white;
  width: 105%;
  border: 2px solid hsl(278, 68%, 11%);
  margin-right: 0px;
}
.continue {
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 20px;
}
#thank-you-state {
  display: none;
  text-align: center;
}
#thank-you-state p {
  color: grey;
}
#thank-you-state {
  display: none;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 860px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .card-images-div {
    background-image: url("/images/bg-main-mobile.png");
    background-size: cover;
    display: grid;
    row-gap: 20px;
    grid-column: auto;
    grid-row: auto;
  }
  .card-back-side {
    background-image: url("/images/bg-card-back.png");
    /* grid-column: 3 / 11; */
    grid-row: 4/10;
    margin: 10px;
  }
  .card-front-side {
    background-image: url("/images/bg-card-front.png");
    /* grid-column: 1 / 9; */
    grid-row: 7/13;

    padding: 24px;
  }
  .card-number-div {
    font-size: 22px;
    word-spacing: 6px;
    letter-spacing: 1px;
  }
  .name-date-div {
    font-size: 16px;
  }
  /*form*/
  .card-form-div {
    grid-column: auto;
    grid-row: auto;
    padding: 40px;
    max-height: 700px;
  }
}
@media (max-width: 1200px) {
  .card-front-side {
    grid-template-rows: 3fr 2fr 2fr;
    padding: 30px;
  }
  .name-date-div {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;
    font-size: 16px;
  }
  .card-number-div {
    font-size: 24px;
    text-align: center;
    word-spacing: 10px;
    font-stretch: expanded;
  }
  .card-back-side {
    padding-bottom: 50px;
    padding-right: 60px;
  }
}
